:root {
    --primary: #7289DA;
    --dark: #23272A;
    --light: #FFFFFF;
    --light-grey: #d7e0e1;
    --grey: #99AAB5;
    --dark-grey: #2C2F33;
    --dsh: #F59E12;
    --patreon: #f96854;
    --darker: #23272A;
    --success: #49b756;
    --error: #dd2525;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: ProductSans, sans-serif;
    background: var(--dark-grey);
    color: var(--light);
}

body {
    position: absolute;
    z-index: -1;
}

.wrapper h1 {
    font-family: Whitney, HelveticaNeue, Arial, sans-serif;
    font-size: 40px;
}

.wrapper p {
    font-size: 17px;
    margin: 25px 0 25px 0;
    opacity: .9;
}

.wrapper a {
    font-size: 20px;
    color: var(--light);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.wrapper i {
    font-size: 15px;
    margin: 5px;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('../img/forms.png') no-repeat center center;
}

.wrapper div {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15% 0 15%;
    position: absolute;
    width: 70%;
}

nav div {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px 0 15px;
}

nav a {
    color: var(--light);
    text-decoration: none;
    font-size: 14px;
    filter: brightness(80%);
    transition: .15s ease-in-out;
    letter-spacing: .01em;
}

nav a:hover {
    cursor: pointer;
    filter: brightness(100%);
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin: 0 15px 0 15px;
}

.socials a {
    margin: 0 5px 0 5px;
}

.socials a i {
    font-size: 18px;
}

.logo {
    display: flex;
    align-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    filter: none;
}

.logo:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.logo img {
    height: 35px;
    margin: 10px;
}

.logo h1 {
    font-family: UniSansHeavy, sans-serif;
    letter-spacing: .025em;
    color: var(--light);
    font-size: 22px;
}

.button {
    transition: .25s ease-in-out;
    background: grey;
    padding: 17px;
    width: 210px;
    font-size: 17px;
    text-align: center;
    margin: 15px;
    border-radius: 3px;
    text-decoration: none;
}

.button:hover {
    transform: translateY(2px);
}

.discord {
    background: var(--primary);
}

.patreon {
    background: var(--patreon);
}

.discord-activated {
    background: var(--grey);
    cursor: not-allowed;
}

.discord-activated:hover {
    transform: none;
}

.patreon-activated {
    background: var(--grey);
    cursor: not-allowed;
}

.patreon-activated:hover {
    transform: none;
}

.success {
    background: var(--success);
}

.success-text {
    color: var(--success);
}

.error-text {
    color: var(--error);
}

.user-img {
    height: 30px;
    width: auto;
    border-radius: 100%;
    margin: 0 0 0 10px;
}

@media screen and (max-width: 800px) {
    .loader h2 {
        font-size: 45px;
    }

    .wrapper div {
        flex-direction: column;
    }

    .button {
        width: 100%;
    }

    h1 {
        padding: 0 0 20px 0;
    }

    p {
        margin: 25px;
    }
}

@media screen and (max-width: 500px) {
    .button {
        padding: 17px 50px 17px 50px;
    }
}