<html lang="en">
<head>
    <title> No Pledge - Groovy Premium </title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <meta name="author" content="Rxsto">
    <meta name="publisher" content="GroovyDevs">
    <meta name="copyright" content="GroovyDevs">
    <meta name="description"
          content="Groovy is a feature-rich and experienced music-bot for Discord! He supports YouTube, Soundcloud, Spotify and more!">
    <meta name="keywords"
          content="groovy, groovybot, discord, discordbot, discord-bot, musicbot, music-bot, discord, bot, music, high quality, high, quality, rxsto, schlaubi">
    <meta name="image" content="https://groovybot.gq/assets/img/groovy.png">
    <meta name="robots" content="index, follow">

    <meta itemprop="name" content="Groovy Premium">
    <meta itemprop="description"
          content="Groovy is a feature-rich and experienced music-bot for Discord! He supports YouTube, Soundcloud, Spotify and more!">
    <meta itemprop="image" content="https://groovybot.gq/assets/img/groovy.png">

    <meta name="og:title" content="Groovy - Activate Premium Perks">
    <meta name="og:description"
          content="Groovy is a feature-rich and experienced music-bot for Discord! He supports YouTube, Soundcloud, Spotify and more!">
    <meta name="og:image" content="https://groovybot.gq/assets/img/groovy.png">
    <meta name="og:url" content="https://groovybot.gq">
    <meta property="og:keywords"
          content="groovy, groovybot, discord, discordbot, discord-bot, musicbot, music-bot, discord, bot, music, high quality, high, quality, rxsto, schlaubi">
    <meta name="og:site_name" content="Groovy">
    <meta name="og:locale" content="en">
    <meta name="og:type" content="website">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Groovy">
    <meta name="twitter:description"
          content="Groovy is a feature-rich and experienced music-bot for Discord! He supports YouTube, Soundcloud, Spotify and more!">
    <meta name="twitter:site" content="@groovydevs">
    <meta name="twitter:creator" content="@rxsto_official">

    <link rel="icon" href="https://groovybot.gq/assets/img/logo.png" type="image/png">
    <link rel="apple-touch-icon" href="https://groovybot.gq/assets/img/groovy.png">

    <meta name="application-name" content="Groovy">
    <meta name="theme-color" content="#7289DA">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">
</head>
<body>
<nav>
    <div>
        <a href="https://groovybot.gq" class="logo">
            <img src="{{ url_for('static', filename='img/logowhite.png') }}" alt="Logo">
            <h1>Groovy</h1>
        </a>
    </div>
    <div>
        <div class="socials">
            <a href="https://patreon.com/rxsto" target="_blank"><i class="fab fa-patreon"></i></a>
            <a href="https://groovybot.gq/support" target="_blank"><i class="fab fa-discord"></i></a>
            <a href="https://twitter.com/groovydevs" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://twitch.tv/groovydevs" target="_blank"><i class="fab fa-twitch"></i></a>
        </div>
    </div>
</nav>
<div class="wrapper">
    <h1>Groovy Premium</h1>
    <p class="error-text">You donated a custom pledge, please contact the support!</p>
    <div>
        <a href="https://groovybot.gq/support" class="button discord" target="_blank"><i
                class="fas fa-question-circle"></i> Support</a>
        <a href="#" class="button patreon" target="_blank"><i class="fas fa-money-bill-wave-alt"></i>
            Custom</a>
    </div>
</div>
</body>
</html>
